body {
    font-family: 'Lato';
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.title {
    font-size: 34px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 40px;
}

.hr {
    width: 100px;
    height: 1px;
    background-color: #000;
    margin-bottom: 40px;
}

.arrow {
    position: fixed;
    bottom: 5%;
    right: 3%;
    animation: arroww 1s infinite linear;
}

.arrow a {
    border-radius: 100px;
    background-color: rgba(155, 155, 155, 0.58);
    display: block;
    padding: 15px 15px;
    transition: all .2s linear;
}

@keyframes arroww {
    0% {bottom: 5%;}
    50% {bottom: 6%;}
    100% {bottom: 5%;}
}

.arrow a:hover {
    transform: scale(1.1);
}

.arrow a img {
    width: 20px;
    height: 10px;
    transform: rotateX(180deg);
}






/*INTRO*/

.intro {
    min-height: 100vh;
    background: url(../img/intro/BG-Header.jpg) no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
}

.intro_cont {
    padding: 60px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.intro_cont a img {
    width: 100%;
    max-width: 170px;
}

.intro_title h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;

    margin-top: 15%;
}

.intro_title p {
    text-transform: lowercase;
    color: #fff;
    letter-spacing: 5px;
    font-size: 18px;
    text-align: center;

    margin-top: 20px;
    position: relative;
}

.intro_cont p::after {
    content: "";
    display: block;
    position: absolute;

    background-color: #fff;
    height: 1px;
    width: 150px;

    top: 400%;
    left: 50%;
    transform: translateX(-50%);
}

.intro_button_d {
    margin-top: 60%;
    height: 170px;
}

.intro_arrow {
    position: relative;
    display: block;
    background: url(../img/intro/arrow.png) no-repeat;
    background-position: bottom center;
    height: 80px;
    animation: height 1s infinite linear;
}

@keyframes height {
    0% {top: 0;}
    50% {top: 20px;}
    100% {top: 0;}
}

.intro_button {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 20px 50px;
    margin-top: 10px;
    background-color: transparent;
    position: relative;
    overflow: hidden;

    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    font-size: 18px;

    transition: all .2s linear;
}

.intro_button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transform: translateX(0);
    background-color: rgba(255, 255, 255, 0.21);
    transition: all .2s linear;
}

.intro_button:hover::before {
    transform: translateX(100%);
}








/*MENU*/

.menu {
    position: relative;
    height: 55px;
    border-bottom: 1px #c4c4c4 solid;
    margin-bottom: 140px;
}

.menu_nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.menu_nav_fixed {
    position: fixed;
    top: 0;
}

.menu_nav li {
    overflow: hidden;
    padding: 20px 0;
}

.menu_nav li a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #818181;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 600;
    transition: all .1s linear;
}

.menu_nav li a:hover {
    color: #3b3b3b;
}

.menu_nav li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(144, 144, 144, 0.21);
    top: 0;
    left: -100%;
    transform: translateX(0);
    transition: all .3s linear;
    z-index: -1;
}

.menu_nav li a:hover::after {
    transform: translateX(100%);
}





/*ABOUT*/

.about {
    margin-bottom: 100px;
}

.about_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_title h2 {
    margin-bottom: 40px;
}

.about_title p {
    font-size: 16px;
    color: #818181;
    text-align: center;
    width: 100%;
    max-width: 800px;
    line-height: 30px;
    margin-bottom: 80px;
}

.about_services {
    display: flex;
}

.about_services_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3333%;
}

.about_services_item img {
    width: 100%;
    max-width: 110px;
}

.about_services_item h3 {
    margin: 30px 0;
    font-size: 28px;
    letter-spacing: 2px;
    text-align: center;
}

.about_services_item p {
    color: #818181;
    font-size: 16px;

    width: 100%;
    max-width: 280px;
    text-align: center;
    line-height: 30px;
    margin: auto 0 0 0;
}









/*PORTFOLIO*/

.portfolio {
    background-color: rgba(144, 144, 144, 0.21);
    padding-bottom: 70px;
}

.portfolio_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio_title h2 {
    letter-spacing: 7px;
    padding-top: 110px;
}

.portfolio_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
}

.portfolio_item_filter {
    position: relative;
}

.filter_item:hover {
    cursor: pointer;
}

.filter__list {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.filter_item {
    font-size: 17px;
    font-weight: 600;
    padding: 0 15px;
    transition: all .2s linear;
    animation: scalee 1s infinite linear;
}

.filter_item:hover {
    transform: scale(1.1);
    color: #585757;
}

.filter_focus {
    transform: scale(1.1);
    color: #585757;
}

@keyframes scalee {
    0% {letter-spacing: 0px;}
    50% {letter-spacing: 1px;}
    100% {letter-spacing: 0px;}
}

.portfolio_items {
    display: flex;
    flex-wrap: wrap;
}

.portfilio__items {
    width: 25%;
    border: 2px #fff solid;
}

.hide {
    opacity: 1;
    animation-name: a1;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes a1 {
    0%{
        opacity: 1;
        transform: : rotateX(90deg);
    }
    50%{
        opacity: 0.5;
        transform: : rotateX(0deg);
    }
    100%{
        width: 0%;
        opacity: 0;
        transform: rotateX(90deg);
        border: 0px #fff solid;
    }
}

.enlarge {
    animation-name: a2;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}

@keyframes a2 {
    100% {
        width: 50%;
    }
}

.portfolio_button {
    display: flex;
    justify-content: center;
}

.portfolio_button p {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;

    display: inline-block;
    border: 1px #000 solid;
    padding: 15px 30px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.portfolio_button p::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transform: translateX(0);
    background-color: rgb(255, 255, 255);
    transition: all .2s linear;
    z-index: -1;
}

.portfolio_button p:hover::before {
    transform: translateX(100%);
}

.increase {
    opacity: 0;
    width: 5%;
    animation-name: a3;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes a3 {
    100% {
        opacity: 1;
        width: 25%;
    }
}










/*CONNECTION*/

.connection {
    background: url(../img/intro/BG-Header.jpg) no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 100px;
}

.connection_cont h2 {
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.connection_cont_icons ul {
    display: flex;
}

.connection_cont_icons ul li {
    text-align: center;
    width: 25%;
    transition: all .2s linear;
}

.connection_cont_icons ul li:first-child {
    margin-left: 310px;
}

.connection_cont_icons ul li:last-child {
    margin-right: 310px;
}

.connection_cont_icons ul li:hover {
    transform: scale(1.1);
}

.connection_cont_icons ul li a img {
    width: 100%;
    max-width: 55px;
}










/*FEEDBACK*/

.feedback_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.feedback_cont {
    display: flex;
}

.feedback_cont_form {
    width: 50%;
    padding-right: 70px;
}

.fcf_cont {
    display: flex;
    flex-wrap: wrap;
}

.form_with-50 {
    width: 50%;
    margin-bottom: 40px;
}

.form_with-50:first-child {
    padding-right: 40px;
}

.form_with-50:nth-child(2) {
    padding-left: 40px;
}

.form_with-100 {
    width: 100%;
}

.form_p {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 10px;
}

.form_name {
    background-color: rgba(216, 216, 216, 0.6);
    border: 0;
    border-top: #000 1px solid;
    height: 35px;
    width: 100%;
    padding: 0 10px;
}

.form_email {
    background-color: rgba(216, 216, 216, 0.6);
    border: 0;
    border-top: #000 1px solid;
    height: 35px;
    width: 100%;
    padding: 0 10px;
}

.form_text {
    background-color: rgba(216, 216, 216, 0.6);
    border: 0;
    border-top: #000 1px solid;
    height: 150px;
    min-height: 40px;
    max-height: 180px;
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
}

.form_submit_button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 30px 0;
}

.form_submit {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;

    display: inline-block;
    border: 1px #d0d0d0 solid;
    padding: 10px 30px;
    background-color: #ffffff;

    transition: all .2s linear;
}

.form_submit:hover {
    border-top: 1px #4d4d4d solid;
}

.feedback_cont_data {
    width: 50%;
    height: 415px;
}

.fcd_p {
    font-size: 16px;
    line-height: 25px;
    color: #535353;
    width: 100%;
    max-width: 325px;
    margin-bottom: 20px;
}

.fcd_name {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    color: #535353;
}

.fcd_icon {
    margin: 30px 0 5px 0;
}

.fcd_icon ul {
    display: flex;
}

.fcd_icon ul li {
    margin-right: 10px;
    transition: all .2s linear;
}

.fcd_icon ul li:hover {
    transform: scale(1.1);
}

.fcd_icon ul li a img {
    width: 100%;
    max-width: 30px;
}

.fcd_email {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    color: #535353;
}

.fcd_email a {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    color: #535353;
    text-decoration: none;
    transition: all .2s linear;
}

.fcd_email a:hover {
    letter-spacing: 0.5px;
}








.footer {
    background-color: #3c3c3c;
}

.footer_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_cont img {
    margin: 30px 0;
    width: 100px;
}

.footer_cont_feedback ul {
    display: flex;
}

.footer_cont_feedback ul li {
    padding-left: 15px;
}

.footer_cont_feedback ul li:first-child {
    padding-left: 0px;
}

.footer_cont_feedback ul li a {
    text-decoration: none;
    color: #939393;
    font-size: 13px;
}

.footer_cont p {
    margin: 15px 0 30px 0;
    color: #6a6a6a;
    font-size: 13px;
}























